<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">MY PAGE</h2>
            <div class="list">
                <div class="list-item">
                    <%= image_tag 'タコ.png', class: 'image' %>
                    <div class="text">投稿管理</div>
                </div>
                <div class="list-item">
                    <%= image_tag 'image2.png', class: 'image' %>
                    <div class="text">登録変更</div>
                </div>    
                <div class="list-item">
                    <%= image_tag 'スナメリ.png', class: 'image' %>
                    <%= button_to "ガチャ", "" %>
                </div>
            </div>
        </div>
    </div>
</section>